header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px var(--Grey, #EBEBEB);
    margin-bottom: 65pxы;
}

.wrapper{
    width: 100%;
    max-width: 978px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper-2{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-box{
    display: flex;
    justify-content: space-between;
    gap: 132px;
}

.header-midBox{
    display: flex;
    align-items: center;
}

.header-icon{
    padding: 33.5px;
    border-left: solid 1px var(--Grey, #EBEBEB);
    border-right: solid 1px var(--Grey, #EBEBEB);
    transition: 0.3s;
}

/* .header-icon:hover{
    border: 0.5px solid var(--Black, #222);
} */

.header-text{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-text a{
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: var(--black-with-70-transparency, rgba(34, 34, 34, 0.70));
}

.header-text a:hover{
    border-bottom: 1.5px solid var(--Black, #222);
    color: var(--Black, #222);
}

.firstScreen_content{
    display: flex;
    flex-direction: column;
    margin-bottom: 84px;
    margin-top: 65px;
    gap: 48px;
}

.blackBorder{
    -webkit-text-stroke: 1.5px black;
    /* -webkit-text-fill-color: white; */
    color: white;
}

.firstScreen_content .title{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-align: center;
    font-size: 64px;
}

.firstScreen_content .button{
    margin: auto;
    position: relative;
    z-index: 0;
}

.firstScreen_content a{
    padding: 10px 48px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid var(--black-with-30-transparency, rgba(34, 34, 34, 0.30));
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    z-index: 0;
}

.blackLine{
    background-color: black;
    height: 1px;
    width: 24px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -11.5px;
}

.firstScreen_content .button:hover a{
    color: white;
    background-color: black;
}

/* .firstScreen_content .button:hover .blackLine{
    background-color: white;
} */

.secondScreen-content{
    background-image: url(../дизайн__8/img/secondScreenImg.svg);
    background-repeat: no-repeat;
    gap: 23.5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 22.5px;
    margin-bottom: 136px;
}

.secondScreen-buttons{
    padding-top: 173px;
    display: flex;
}

.secondScreen-buttons .oneof{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-with-30-transparency, rgba(255, 255, 255, 0.30));
    width: 360px;
    height: 85px;
}

.secondScreen-buttons .oneof a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.secondScreen-buttons .oneof:hover a{
    background-color: white;
    color: black;
    opacity: 0.5;
}

.secondScreen-clock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdScreen-content{
    position: relative;
    margin-bottom: 136px;
    z-index: 0;
}

.thirdScreen-background{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%), rgba(0, 0, 0, 0.10);
}

.whiteLine{
    width: 40px;
    height: 1px;    
    background: var(--White, #FFF);
    position: absolute;
    top: 115px;
    left: 40px;
    z-index: 1;
}

.thirdScreen-leftText{
    color: white;
    font-weight: 700;
    font-size: 32px;
    position: absolute;
    top: 96px;
    left: 120px;
    width: 226px;
    z-index: 1;
}

.whiteBorder {
    -webkit-text-stroke: 1.5px white;
    color: transparent;
}

.thirdDcreen-rightImg{
    position: absolute;
    right: 0;
    bottom: -24px;
    z-index: 1;
}

.thirdScreen-content .right_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 84px;
    right: 120px;
    z-index: 2;
    width: 297px;
    height: 152px;
} 

.thirdScreen-content .right_content span{
    font-size: 88px;
}

.thirdScreen-content .right_content img{
    width: 64px;
    height: 72px;
}

.thirdScreen-content .right_content p{
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.fourthScreen-content{
    display: flex;
    flex-direction: column;
}

.fourthScreen-content a{
    width: 100%;
    height: 100%;
}

/* .fourthScreen-content img{
    position: relative;
    z-index: 0;
} */

.fourthScreen-content .up span{
    position: absolute;
    z-index: 5;
    top: 32px;
    left: 32px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.fourthScreen-content .down span{
    position: absolute;
    z-index: 5;
    top: 32px;
    left: 32px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.main-title{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 48px;
}

.main-title__text{
    font-size: 32px;
    font-weight: 700;
}

.blackLine-big{
    width: 40px;
    height: 1px;
    background: #222;
}

.blur{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%), rgba(0, 0, 0, 0.10);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.blur:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 1.5);
}

.fourthScreen-content .up{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fourthScreen-content .up .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fourthScreen-content .up .left .up {
    position: relative;
    z-index: 0;
}

.fourthScreen-content .up .left .down{
    display: flex;
    justify-content: space-between;
}

.fourthScreen-content .up .left .down .left{
    position: relative;
    z-index: 0;
}

.fourthScreen-content .up .left .down .right{
    position: relative;
    z-index: 0;
}

.fourthScreen-content .up .right{
    position: relative;
    z-index: 0;
}

.fourthScreen-content .up .right img{
    height: 100%;
}

.fourthScreen-content .down{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 64px; */
}

.fourthScreen-content .down .left{
    position: relative;
    z-index: 0;
}

.fourthScreen-content .down .left img{
    height: 100%;
}

.fourthScreen-content .down .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fourthScreen-content .down .right .up{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}

.fourthScreen-content .down .right .up .left{
    position: relative;
    z-index: 0;
}

.fourthScreen-content .down .right .up .right{
    position: relative;
    z-index: 0;
}

.fourthScreen-content .down .right .down{
    position: relative;
    z-index: 0;
}

.fourthScreen-button{
    margin: auto;
    position: relative;
    z-index: 0;
}

.fifrhScreen-content{
    margin-top: 64px;
}

.fifthScreen-button{
    margin: auto;
    margin-bottom: 136px;
    display: fk;
    display: flex;
    justify-content: center;
}

.fifthScreen-button a{
    padding: 10px 48px;
    font-size: 14px;
    position: relative;
    z-index: 0;
    font-weight: 700;
    border: 1px solid var(--black-with-30-transparency, rgba(34, 34, 34, 0.30));
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.fifthScreen-button:hover a{
    color: white;
    background-color: black;
}

.fifrhScreen-mainContent{
    display: flex;
    justify-content: space-between;
}

.fifrhScreen-mainContent .left_mid{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.fifrhScreen-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fifrhScreen-box .title{
    font-size: 14px;
    font-weight: 700;
}

.fifrhScreen-box .text{
    font-size: 13px;
    font-weight: 400;
}

.special_text{
    display: flex;
    align-items: center;
    gap: 16px;
}
/* 000000000000000000000000000000000000000000000000000000000000000000000000000000000 */
.fifrhScreen-mainContent .right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fifrhScreen-mainContent .right .title{
    font-size: 14px;
    font-weight: 700;
}

.right_box{
    border-bottom: 1px solid rgba(144, 144, 144, 1);
    padding-top: 10px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
}

.right_box span{
    font-size: 9px;
    font-weight: 500;
}

.right_box input{
    border: none;
}

.right_box input:focus{
    outline: none;
}

.right_box input::placeholder{
    color: var(--Grey, #909090);
    font-size: 13px;
    font-weight: 400;
}

.right_box-special{
    font-size: 9px;
    font-weight: 500;
    color: var(--Grey, #909090);
}

.right_box-special span{
    font-size: 9px;
    font-weight: 500;
    color: var(--Black, #222);
    border-bottom: 1px dotted black;
}

.lastbutton{
    margin: auto;
    margin-bottom: 136px;
    display: flex;
    justify-content: flex-end;
}

.lastbutton a{
    padding: 10px 48px;
    font-size: 14px;
    position: relative;
    z-index: 0;
    font-weight: 700;
    border: 1px solid var(--black-with-30-transparency, rgba(34, 34, 34, 0.30));
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.lastbutton:hover a{
    color: white;
    background-color: black;
}

footer{
    gap: 24.5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.newBlackLine{
    height: 1.5px;
    background-color: black;
    width: 100%;
}

footer .text{
    font-size: 13px;
    font-weight: 400;
}

footer span{
    font-size: 14px;
    font-weight: 700;
}






